header {
  background-color: #f6f6f6;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #b0b0b0;
  margin: 0 0 2px;
}

header h1 {
  color: #ff5f00;
  font-size: 52px;
  font-weight: 400;
  margin: 10px 20px 0;
}

button {
  color: #f9f9f9;
  background-color: #ff5f00;
  border-radius: 5px;
  border: none;
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 21px;
  padding: 5px 13px;
}

#map {
  height: 91vh;
  width: 100%;
}

.entries-list {
  background-color: #f9f9f9;
}

.map-box {
  position: relative;
}

.font-header {
  font-family: "Josefin Sans", sans-serif;
}

.font-body {
  font-family: Nunito, sans-serif;
}

.text-align-center {
  text-align: center;
}

.no-entries h3 {
  font-size: 28px;
  font-weight: 400;
}
