header {
  background-color: #f6f6f6;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #b0b0b0;
  margin: 0 0 2px;
}

header h1 {
  color: #ff5f00;
  font-size: 52px;
  font-weight: 400;
  margin: 10px 20px 0;
}

button {
  color: #f9f9f9;
  background-color: #ff5f00;
  border-radius: 5px;
  border: none;
  font-size: 21px;
  padding: 5px 13px;
}

button:hover {
  cursor: pointer;
}

.marker-button {
  position: absolute;
  top: 25px;
  right: 25px;
}

#map {
  height: 91vh;
  width: 100%;
}

.entries-list {
  background-color: #f9f9f9;
  height: 92vh;
}

.map-box {
  position: relative;
}

.font-header {
  font-family: "Josefin Sans", sans-serif;
}

.font-body {
  font-family: Nunito, sans-serif;
}

.no-entries h3 {
  font-size: 28px;
  font-weight: 400;
}

.marker-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  background: linear-gradient(rgb(0 0 0 / 60%), rgb(0 0 0 / 60%));
  animation: fade-out 2s;
}

.marker-overlay h3 {
  color: white;
  text-align: end;
  margin-right: 20px;
}

.entry-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  background: linear-gradient(rgb(0 0 0 / 60%), rgb(0 0 0 / 60%));
}

.add-friend {
  margin: auto;
  background-color: #f9f9f9;
  height: 31vh;
  width: 50%;
  border-radius: 20px;
  border: 1px solid #b20600;
}

.add-friend h3 {
  font-size: 26px;
  font-weight: 500;
  color: #b20600;
}

.input-friend-image {
  border-radius: 50%;
  position: relative;
  height: 100px;
  width: 100px;
}

.input-friend-image img {
  object-fit: cover;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

/* .add-friend select {
  height: 50px;
  width: 70%;
  border: 1px solid #b0b0b0;
  border-radius: 5px;
} */

.add-friend input:nth-child(1) {
  height: 50px;
  width: 100%;
  border: 1px solid #b0b0b0;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px;
}

.add-friend input:nth-child(2) {
  width: 100%;
  border: 1px solid #b0b0b0;
  border-radius: 4px;
  margin-top: 5px;
  padding-left: 10px;
}

.friend-inputs {
  width: 70%;
}

.add-friend input:focus {
  outline: none;
  border: 1px solid #b20600;
}

.form-button {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.add-entry {
  margin: 0 auto;
  background-color: #f9f9f9;
  height: 410px;
  width: 60%;
  padding-top: 27px;
  border-radius: 25px;
  border: 1px solid #b20600;
  overflow: auto;
}

.add-entry h3 {
  border-bottom: 1px solid #b20600;
  margin: 5px 0 0;
  padding: 10px 20px;
}

.entry-name-tags {
  padding: 0 20px;
}

.entry-image {
  position: relative;
  height: 200px;
  border-radius: 5px;
}

.entry-image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.entry-friend-image {
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.entry-friend-image img {
  object-fit: cover;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.rec-name {
  margin: 10px auto 5px;
  width: 100%;
  height: 35px;
  border: 1px solid #b0b0b0;
  padding-left: 5px;
}

.entry-image-url {
  width: 100%;
  border: 1px solid #b0b0b0;
  padding-left: 5px;
}

.entry-tags-box {
  margin-top: 15px;
}

.rec-name:focus {
  outline: none;
  border: 1px solid #b20600;
}

.entry-image-url:focus {
  outline: none;
  border: 1px solid #b20600;
}

.add-entry textarea {
  margin: 15px 0 8px;
  width: 100%;
  height: 100px;
  padding: 10px;
  resize: none;
}

.add-entry textarea:focus {
  outline: none;
  border: 1px solid #b20600;
}

.add-tag-button {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.add-tag-button i {
  color: #f9f9f9;
  border-radius: 50%;
  width: 100%;
  filter: drop-shadow(-1px 2px 2px #c2c2c2);
}

.input-tag-name {
  border: none;
  background-color: #f9f9f9;
  margin-left: 10px;
}

.input-tag-name:focus {
  outline: none;
}

.entry-tags-list {
  margin-top: 8px;
}

.entry-tags-list span {
  background-color: #e5e5e5;
  color: #ff5f00;
  padding: 0 5px;
  border-radius: 7px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.entry-tags-list span i {
  position: relative;
  top: 1px;
  color: #b0b0b0;
  margin-left: 5px;
}

ul {
  width: 90%;
  height: 100%;
  padding: 35px 0 0;
  margin: 0 auto;
}

.rec {
  width: 100%;
  border: 1px solid #b0b0b0;
  padding: 20px;
  background-color: #f6f6f6;
  margin-bottom: 30px;
}

.rec:hover {
  box-shadow: 0 0 7px 1px #cacaca;
}

.rec-image {
  width: 100%;
  height: 200px;
  position: relative;
}

.rec-image img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.rec div:nth-child(1) {
  position: relative;
}

.options-highlight {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -6px;
  left: -3px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.options-highlight:hover {
  background-color: #dfdfdf;
  cursor: pointer;
}

.options-pop-up {
  position: absolute;
  width: 60px;
  background-color: #f6f6f6;
  box-shadow: 0 0 7px 2px #cacaca;
  bottom: 24px;
  left: 39px;
}

.options-pop-up p {
  margin: 5px;
  padding: 0 0 0 2px;
  border-radius: 3px;
}

.options-pop-up p:hover {
  cursor: pointer;
  background-color: #c2c2c2;
}

.options-background {
  background-color: #c2c2c2;
}

.rec div:nth-child(1) i {
  color: #b20600;
}

.rec-info {
  padding-left: 30px;
}

.rec h2 {
  font-size: 28px;
  margin-top: 6px;
  margin-bottom: 6px;
  font-weight: 400;
}

.rec span {
  background-color: #e5e5e5;
  color: #ff5f00;
  font-size: 18px;
  font-weight: 500;
  padding: 0 5px;
  border-radius: 8px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.rec-info p {
  font-size: 18px;
  min-height: 125px;
  overflow: auto;
}

.rec-friend-img {
  position: relative;
  height: 60px;
  width: 60px;
  margin-right: 20px;
}

.rec-friend-img img {
  position: absolute;
  object-fit: cover;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.rec-info div:nth-child(4) {
  border-top: 1px solid #b20600;
  padding: 5px 30px;
}

img[src$="#custom-marker"] {
  border-radius: 50%;
  object-fit: cover;
}

.show-more-entries {
  display: none;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  header {
    justify-content: center;
  }

  main {
    position: relative;
  }

  .no-entries h3 {
    margin-top: 15px;
  }

  .add-friend {
    width: 60%;
  }

  .add-entry {
    width: 70%;
  }

  .entries-list {
    border-radius: 30px 30px 0 0;
    height: 100px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    transition: height 0.5s;
  }

  .show-more-entries {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}
